<form class="form-horizontal" role="form">
    <fieldset>
        <div class="row">
            <div class="col col-sm-6">
                <div class="form-group">
                    <label for="customerId" class="col-sm-4 control-label">顧客コード</label>

                    <div class="col-sm-8">
                        <div class="input-group">
                            <input type="text" name="customerId" id="customerId"
                                   class="form-control input-sm">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-sm" type="button">検索</button>
                                    </span>
                        </div>
                        <span class="help-block hidden"></span>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col col-sm-6">
                <div class="form-group">
                    <label for="name" class="col-sm-4 control-label">顧客名</label>

                    <div class="col-sm-8">
                        <p class="form-control-static" id="customerName"></p>
                        <span class="help-block hidden"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="phone" class="col-sm-4 control-label">電話番号</label>

                    <div class="col-sm-8">
                        <p class="form-control-static" id="phone"></p>
                        <span class="help-block hidden"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="fax" class="col-sm-4 control-label">FAX番号</label>

                    <div class="col-sm-8">
                        <p class="form-control-static" id="fax"></p>
                        <span class="help-block hidden"></span>
                    </div>
                </div>
            </div>
            <div class="col col-sm-6">
                <div class="form-group">
                    <label for="zip" class="col-sm-4 control-label">郵便番号</label>

                    <div class="col-sm-8">
                        <p class="form-control-static" id="zip"></p>
                        <span class="help-block hidden"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="address" class="col-sm-4 control-label">住所</label>

                    <div class="col-sm-8">
                        <p class="form-control-static" id="address"></p>
                        <span class="help-block hidden"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="contactPerson" class="col-sm-4 control-label">担当者名</label>

                    <div class="col-sm-8">
                        <p class="form-control-static" id="contactPerson"></p>
                        <span class="help-block hidden"></span>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>