<td>{{product.productCode}}</td>
<td>{{product.productName}}</td>
<td>{{product.unitPrice}}</td>
<td>
    <span class="view quantity">{{quantity}}</span>
    <span class="edit col-sm-6"><input name="quantity" type="number" class="form-control"/></span>
</td>
<td><span class="subtotal"></span></td>
