<div class="panel-body">
<div class="panel panel-info">
    <div class="panel-heading">
        顧客情報
    </div>
    <div class="panel-body">
        <form class="form-horizontal" role="form">
            <fieldset>
                <div class="row">
                    <div class="col col-sm-6">
                        <div class="form-group">
                            <label for="customerId" class="col-sm-4 control-label">顧客コード</label>

                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" name="customerId" id="customerId"
                                           class="form-control input-sm">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-sm" type="button">検索</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col col-sm-6">
                        <div class="form-group">
                            <label for="name" class="col-sm-4 control-label">顧客名</label>

                            <div class="col-sm-8">
                                <input type="text" id="name" name="name" class="form-control input-sm">
                                <span class="help-block hidden"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="phone" class="col-sm-4 control-label">電話番号</label>

                            <div class="col-sm-8">
                                <input type="tel" id="phone" name="phone" class="form-control input-sm">
                                <span class="help-block hidden"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="fax" class="col-sm-4 control-label">FAX番号</label>

                            <div class="col-sm-8">
                                <input type="text" id="fax" name="fax" class="form-control input-sm">
                                <span class="help-block hidden"></span>
                            </div>
                        </div>
                    </div>
                    <div class="col col-sm-6">
                        <div class="form-group">
                            <label for="zip" class="col-sm-4 control-label">郵便番号</label>

                            <div class="col-sm-8">
                                <input type="text" id="zip" name="zip" class="form-control input-sm">
                                <span class="help-block hidden"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="address" class="col-sm-4 control-label">住所</label>

                            <div class="col-sm-8">
                                <input type="text" id="address" name="address" class="form-control input-sm">
                                <span class="help-block hidden"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="contactPerson" class="col-sm-4 control-label">担当者名</label>

                            <div class="col-sm-8">
                                <input type="text" id="contactPerson" name="contactPerson"
                                       class="form-control input-sm">
                                <span class="help-block hidden"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        商品情報
    </div>
    <div class="panel-body">
        <form class="form-horizontal" role="form">
            <fieldset>
                <div class="row">
                    <div class="col col-sm-6">
                        <div class="form-group">
                            <label for="productId" class="col-sm-4 control-label">商品コード</label>

                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="text" name="productId" id="productId"
                                           class="form-control input-sm">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-sm" type="button">検索</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="quantity" class="col-sm-4 control-label">数量</label>

                            <div class="col-sm-8">
                                <div class="input-group">
                                    <input type="number" name="quantity" id="quantity"
                                           class="form-control input-sm">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-sm" type="button">追加</button>
                                    </span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="col col-sm-6">
                        <div class="form-group">
                            <label for="productName" class="col-sm-4 control-label">商品名</label>

                            <div class="col-sm-8">
                                <input type="text" id="productName" name="productName"
                                       class="form-control input-sm">
                                <span class="help-block hidden"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="unitPrice" class="col-sm-4 control-label">単価</label>

                            <div class="col-sm-8">
                                <input type="number" id="unitPrice" name="unitPrice"
                                       class="form-control input-sm">
                                <span class="help-block hidden"></span>
                            </div>
                        </div>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
</div>
<div class="panel panel-info">
    <div class="panel-heading">
        受注明細
    </div>
    <div class="panel-body">
        <table id="order-detail" class="table table-bordered table-hover table-condensed">
            <thead>
            <tr>
                <th>注文番号</th>
                <th>商品コード</th>
                <th>商品名</th>
                <th>単価</th>
                <th>数量</th>
                <th>受注金額</th>
            </tr>
            </thead>
            <tbody>
            <tr>
                <td>0001</td>
                <td>0001</td>
                <td>ほげ</td>
                <td>100</td>
                <td>1</td>
                <td>100</td>
            </tr>
            <tr>
                <td>0002</td>
                <td>0002</td>
                <td>ふー</td>
                <td>200</td>
                <td>1</td>
                <td>200</td>
            </tr>
            <tr>
                <td>0003</td>
                <td>0001</td>
                <td>ほげ</td>
                <td>100</td>
                <td>1</td>
                <td>100</td>
            </tr>
            <tr>
                <td>0004</td>
                <td>0003</td>
                <td>ばー</td>
                <td>150</td>
                <td>1</td>
                <td>150</td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</div>