<form class="form-horizontal" role="form">
    <fieldset>
        <div class="row">
            <div class="col col-sm-6">
                <div class="form-group">
                    <label for="productCode" class="col-sm-4 control-label">商品コード</label>

                    <div class="col-sm-8">
                        <div class="input-group">
                            <input type="text" name="productCode" id="productCode"
                                   class="form-control input-sm">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-sm" type="button">検索</button>
                                    </span>
                        </div>
                        <span class="help-block hidden"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="quantity" class="col-sm-4 control-label">数量</label>

                    <div class="col-sm-8">
                        <div class="input-group">
                            <input type="number" name="quantity" id="quantity"
                                   class="form-control input-sm">
                                    <span class="input-group-btn">
                                        <button class="btn btn-default btn-sm" type="button">追加</button>
                                    </span>
                        </div>
                        <span class="help-block hidden"></span>
                    </div>
                </div>
            </div>
            <div class="col col-sm-6">
                <div class="form-group">
                    <label for="productName" class="col-sm-4 control-label">商品名</label>

                    <div class="col-sm-8">
                        <p class="form-control-static" id="productName"></p>
                        <span class="help-block hidden"></span>
                    </div>
                </div>
                <div class="form-group">
                    <label for="unitPrice" class="col-sm-4 control-label">単価</label>

                    <div class="col-sm-8">
                        <p class="form-control-static" id="unitPrice"></p>
                        <span class="help-block hidden"></span>
                    </div>
                </div>
            </div>
        </div>
    </fieldset>
</form>