<div class="panel-body">
    <table class="table table-bordered table-hover table-condensed">
        <thead>
        <tr>
            <th>受注番号</th>
            <th>受注日</th>
            <th>顧客コード</th>
            <th>顧客名</th>
            <th>合計金額</th>
        </tr>
        </thead>
        <tbody>

        </tbody>
    </table>
</div>